<!-- <div class="row">
  <div class="col-12">
    <span class="d-flex align-items-center purchase-popup">
      <h4 class="mb-0 pb-0">Change Password</h4>
    </span>
  </div>
</div> -->
<div class="container-scroller" id="login">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth pt-2">
      <div class="row flex-grow">
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-12 col-12 mx-auto">
          <div class="auth-form-light text-left p-xl-5 p-lg-4 p-md-4 p-sm-3 p-3">
            <h3 class="text-primary">Change Password</h3>
            <h6 class="font-weight-light">Enter your new password..!</h6>
            <form [formGroup]="changePasswordForm" class="pt-3">
              <div id="login-row">
                <div id="login-column">
                    <div class="form-group">
                      <label for="username">User Name</label>
                      <input type="text" [ngModel]="userData.UserName" formControlName="userName" class="form-control form-control-lg" readonly>
                      <div class="text-danger font-weight-regular font-9" *ngIf="changePasswordForm.get('userName').invalid && changePasswordForm.get('userName').touched">
                        <span *ngIf="changePasswordForm.get('userName').errors.required">Username is required</span>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label for="password">Old Password:</label>
                      <input type="password"  formControlName="Oldpassword" class="form-control form-control-lg">
                      <div class="text-danger font-weight-regular font-9" *ngIf="changePasswordForm.get('Oldpassword').invalid && changePasswordForm.get('Oldpassword').touched">
                        <span *ngIf="changePasswordForm.get('Oldpassword').errors.required">Old Password is required</span>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label for="password">New Password:</label>
                      <input type="password"  formControlName="Newpassword" class="form-control form-control-lg">
                      <div class="text-danger font-weight-regular font-9" *ngIf="changePasswordForm.get('Newpassword').invalid && changePasswordForm.get('Newpassword').touched">
                        <span *ngIf="changePasswordForm.get('Newpassword').errors.required">New Password is required</span>
                      </div>
                    </div>
        
                    <div class="form-group">
                      <label for="password">Conform Password:</label>
                      <input type="password"  formControlName="Conformpassword" class="form-control form-control-lg">
                      <div class="text-danger font-weight-regular font-9" *ngIf="changePasswordForm.get('Conformpassword').invalid && changePasswordForm.get('Conformpassword').touched">
                        <span *ngIf="changePasswordForm.get('Conformpassword').errors.required">Conform Password is required</span>
                      </div>
                    </div>
                    <div class="form-group text-right">
                      <a routerLink="/dashboard"><button type="button" class="btn btn-light btn-md rounded font-weight-medium mr-2 mb-1">Cancel</button></a>
                      <button type="submit" class="btn btn-primary rounded btn-md font-weight-medium mb-1" (click)="ChangePassword()" [disabled]="!changePasswordForm.valid">Submit</button>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<div class="backGroundStyle d-none">
  <div class="col-md-5 col-md-offset-5">
<div id="login">
  <div class="container">
    <form [formGroup]="changePasswordForm">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div class="login-box col-md-12">
            <h3 class="text-center text-info">Change Password</h3>
            <div class="form-group">
              <label for="username" class="text-info">User Name</label>
              <br>
              <input type="text" [ngModel]="userData.UserName" formControlName="userName" class="form-control" readonly>
              <div class="text-danger" *ngIf="changePasswordForm.get('userName').invalid && changePasswordForm.get('userName').touched">
                <span *ngIf="changePasswordForm.get('userName').errors.required">Username is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Old Password:</label>
              <br>
              <input type="password"  formControlName="Oldpassword" class="form-control">
              <div class="text-danger" *ngIf="changePasswordForm.get('Oldpassword').invalid && changePasswordForm.get('Oldpassword').touched">
                <span *ngIf="changePasswordForm.get('Oldpassword').errors.required">Old Password is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="text-info">New Password:</label>
              <br>
              <input type="password"  formControlName="Newpassword" class="form-control">
              <div class="text-danger" *ngIf="changePasswordForm.get('Newpassword').invalid && changePasswordForm.get('Newpassword').touched">
                <span *ngIf="changePasswordForm.get('Newpassword').errors.required">New Password is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="text-info">Conform Password:</label>
              <br>
              <input type="password"  formControlName="Conformpassword" class="form-control">
              <div class="text-danger" *ngIf="changePasswordForm.get('Conformpassword').invalid && changePasswordForm.get('Conformpassword').touched">
                <span *ngIf="changePasswordForm.get('Conformpassword').errors.required">Conform Password is required</span>
              </div>
            </div>


            <!-- <div class="alert alert-danger">{{errorMessage}}</div> -->
            <div class="form-group text-right">
              <!-- <button type="button" class="btn btn-block btn-success common-button" [disabled]="!changePasswordForm.valid"  (click)="ChangePassword()">Submit</button> -->
              <button type="submit" class="btn btn-success" (click)="ChangePassword()" [disabled]="!changePasswordForm.valid">Submit</button>
              <a routerLink="/dashboard"><button type="button" class="btn btn-primary">Cancel</button></a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
