button, .buttons, .btn, .modal-footer .btn+.btn {
    margin-bottom: 5px;
    margin-right: 6px;
}
/* button[_ngcontent-c2], .buttons[_ngcontent-c2], .btn[_ngcontent-c2], .modal-footer[_ngcontent-c2] .btn[_ngcontent-c2] + .btn[_ngcontent-c2] {
    margin-bottom: 5px;
    margin-right: 6px;
} */

.ui-datatable .ui-paginator{
    position: fixed !important;
    }