.cardbg:nth-child(4n+0) .bg-gradient {background: linear-gradient(to right, #79c4fa, #002b49) !important;}
.cardbg:nth-child(4n+1) .bg-gradient {background: linear-gradient(to right, #90caf9, #047edf 99%) !important;}
.cardbg:nth-child(4n+2) .bg-gradient {background: linear-gradient(to right, #84d9d2, #07cdae) !important;}
.cardbg:nth-child(4n+3) .bg-gradient {background: linear-gradient(to right, #ffbf96, #fe7096) !important;}
.stretch-card.grid-margin .card .card-body{
    padding: 2rem 1.8rem;
}