
<div class="header bg-gradient-warming pb-8 pt-5 pt-md-8">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate">
      <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>
<div role="main">
  <div class="page-header">
    <h3 class="page-title"> Analyze Batch Performance</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="d-flex align-items-center purchase-popup w-100">
        <!-- <mat-form-field class="form-group">
          <mat-label aria-required="true">Batches</mat-label>
          <mat-select  (selectionChange)="onSelectBatchType($event.value)" [(ngModel)]="selectedBatch">
            <mat-option *ngFor="let batch of activeBatches" [value]="batch.Id">
              {{batch.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
          <mat-label aria-required="true">Batches</mat-label>
          <mat-select [(ngModel)]="selectedBatchIds" multiple (selectionChange)="onChange($event.value)">
            <mat-checkbox class="check" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}"
              (change)="onCheckedChange(checked)" readonly required>Select All</mat-checkbox>
            <mat-option *ngFor="let batch of batchDetailsList" [value]="batch.Id">
              {{batch.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
          <button type="button" class="btn btn-primary" title="Search" data-toggle="tooltip" (click)="onSearchClick()"
            [disabled]="">Search</button>
          <button type="button" class="btn btn-primary" title="Clear" data-toggle="tooltip" (click)="onClearSearch()"
            [disabled]="">Clear</button>
        </div>
        <div class="clearfix"></div>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 stretch-card grid-margin" *ngFor="let batch of selectedBatches">
      <div class="card card-img-holder text-primary">
        <div class="card-body">
          <!-- <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" /> -->
          <h4 class="font-weight-bold mb-3">Batch No.
            <span class="float-roght">{{batch.Name}}</span>
          </h4>
          <ul class="list-unstyled max-h-60 mt-2">
            <li class="mb-1">
              <h4 class="mb-2 mr"><small class="f-w-500">Start Date<span
                  class="float-right">{{batch.BatchStartDate | date:'dd/MM/yyyy'}}</span></small></h4>
            </li>
            <li class="mb-1">
              <h4 class="mb-2 mr"><small class="f-w-500">Production<span
                  class="float-right">{{batch.TProduction |currency}}</span></small></h4>
            </li>
            <li class="mb-1">
              <h4 class="mb-2 mr"><small class="f-w-500">Mortality<span
                  class="float-right">{{batch.TMortality |currency}}</span></small></h4>
            </li>
            <li class="mb-1">
              <h4 class="mb-2 mr"><small class="f-w-500">Age(Week)<span
                  class="float-right">{{batch.AgeinWeeks |currency}}</span></small></h4>
            </li>
          </ul>
          <hr class="mb-0 pb-0" />
          <div class="d-flex flex-wrap justify-content-between data-fields mt-2">
            <div class="mt">
              <h4><small class="f-w-500">{{batch.ChicksCount |currency}}</small></h4>
              <p class="mb-0 mr"><small class="f-w-500">Chicks Count</small></p>
            </div>
            <div class="mt">
              <h4 class="text-right"><small class="f-w-500">{{batch.AvailableBirds |currency}}</small></h4>
              <p class="mb-0 mr"><small class="f-w-500">Available Chicks</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-3 col-lg-6 cardbg col-md-6 col-sm-6 col-12 stretch-card grid-margin"
      *ngFor="let batch of selectedBatches">
      <div class="card bg-gradient card-img-holder text-white">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between data-fields">
            <ul class="list-unstyled max-h-60 ">
              <li class="mb-1">
                <h4 class="mb-2 mr"><small class="f-w-500">Name :</small><span class="float-right">{{batch.Name}}</span>
                </h4>
              </li>
              <li>
                <h4 class="mb-2 mr"><small class="f-w-500">Start Date :</small><span
                    class="float-right">{{batch.BatchStartDate | date:'dd/MM/yyyy'}}</span></h4>
              </li>
              <li>
                <h4 class="mb-2 mr"><small class="f-w-500"> Production :</small><span
                    class="float-right">{{batch.TProduction |currency}}</span></h4>
              </li>
              <li>
                <h4 class="mb-2 mr"><small class="f-w-500"> Mortality :</small><span
                    class="float-right">{{batch.TMortality |currency}}</span></h4>
              </li>
              <li>
                <h4 class="mb-2 mr"><small class="f-w-500"> Available Chicks :</small><span
                    class="float-right">{{batch.AvailableBirds |currency}}</span></h4>
              </li>
              <li>
                <h4 class="mb-2 mr"><small class="f-w-500"> Age(Week) :</small><span
                    class="float-right">{{batch.AgeinWeeks |currency}}</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 stretch-card grid-margin">
      <div class="card bg-gradient-primary card-img-holder text-white">
        <div class="card-body">
          <h3 class="font-weight-bold mb-3">Batch Start Date 
          </h3>
          <h4>{{StartDate| date:'dd/MM/yyyy'}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 stretch-card grid-margin">
      <div class="card bg-gradient-primary card-img-holder text-white">
        <div class="card-body">
          <h3 class="font-weight-bold mb-3">Feed
          </h3>
          <h4>{{feed}}</h4>
        </div>
      </div>
    </div>
   
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
          <h3 class="font-weight-bold mb-3">Mortality 
          </h3>
          <h4>{{mortality}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
          <h3 class="font-weight-bold mb-3">Production
          </h3>
          <h4>{{productionInCartons}}</h4>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-12">
      <nav class="nav text-center bg-white">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <!-- <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
            aria-controls="pop1" aria-selected="true">Feed</a> -->
          <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
            aria-controls="pop1" aria-selected="false">Production</a>
          <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
            aria-selected="false">Mortality</a>
        </div>
      </nav>
      <div class="pt-2"></div>
      <div class="tab-content" id="nav-tabContent">
        <!-- <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
          <p-chart type="line" [data]="linetempfeed" [options]="options" ></p-chart> 
        </div> -->
        <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
          <div class="bg-white p-3">
              <p-chart type="line" [data]="linetempProduction"></p-chart>
          </div>
        </div>
        <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
          <div class="bg-white p-3">
              <p-chart type="line" [data]="linetempMorality"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>